body {
  font-family: Time New Roman, serif;
  text-align: center;
  margin: 25px;

 #waveCanvas {
 border: 1.5px solid;
 margin: 25px auto;
 display: block;
   }

#beginBtn {
   padding: 15px 25px;
   font-size: 20px;
  }

  #status {
   margin-top: 15px;
    font-weight: bold;
     font-style: Poppins, san-serif;
  }
    
  
